*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* my style start */
h1{
    color: blue;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    display: flex;
    margin: 20px 0px 20px 0px;
}
#king{
    color: red;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}
.screen .howToJoin button{
    padding: 10px 20px;
    background: #111;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}
#btn{
    text-transform: capitalize;
}
#btn a{
    color: white;
    text-decoration: none;
}
/* my style end */
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.app > .screen {
    display: none;
}
.app > .screen.active {
    display: block;
    width: 100%;
    height: 100%;
}
.screen .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
    width: 80%;
    max-width: 400px;
}
.screen .form_input {
    width: 100%;
    margin: 20px 0px;
}
.screen h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #111;
    border-bottom: 4px solid #555;
    padding: 5px 0px;
    display: inline-block;
}
.screen .form_input label{
    display: block;
    margin-bottom: 5px;
}
.screen .form_input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
}
.screen .form_input button{
    padding: 10px 20px;
    background: #111;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}
.chat_screen .header{
    background: #111;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px ;
}
.chat_screen .header .logo{
    font-size: 18px;
    color: #eee;
    font-weight: 600;
}
.chat_screen .header button{
    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
.chat_screen .messages{
    width: 100%;
    height: calc(100% - 100px);
    /* height: 100%; */
    background: #f5f5f5;
    overflow: auto;
}
.chat_screen .messages .message {
    display: flex;
    padding: 10px;
}
.chat_screen .messages .message > div {
    max-width: 80%;
    background: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0,05);
    padding: 10px;
}
.chat_screen .messages .message.my_message {
    justify-content: flex-end;
}
.chat_screen .messages .message.other_message {
    justify-content: flex-start;
}
.chat_screen .messages .message .name {
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}
.chat_screen .messages .message .text {
    word-wrap: break-word;
}
.chat_screen .messages .update {
    text-align: center;
    padding: 10px;
    font-style: italic;
}
.chat_screen .typebox {
    width: 100%;
    height: 50px;
    display: flex;
}
.chat_screen .typebox input {
    flex: 1;
    height: 50px;
    font-size: 18px;
}
.chat_screen .typebox button {
    width: 80px;
    height: 100%;
    background: #111;
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

